body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  
  #content {
    text-align: center;
    margin-top: 200px;
  }
  
  h1 {
    color: #00472f;
    font-size: 200px;
    margin: 0;
    font-family: 'Space Mono', monospace;
    text-align: center;
  }
  
  h2 {
    color: #00472f;
    font-size: 15px;
    margin: 0;
    font-family: 'Space Mono', monospace;
    text-align: center;
  }

  #download-button {
    margin-top: 50px;
  }
  
  
#download-button button {
    width: 300px;
    height: 100px;
    padding: 12px 24px;
    font-size: 30px;
    border: none;
    border-radius: 50px;
    background-color: #00472f;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    font-family: 'Space Mono', monospace;
    transition: background-color 0.3s ease;
  }
  
  #download-button button:hover {
    color: #00472f;
    background-color: #fcd688;
    box-shadow: 0 2px 4px #00472f;
  }
  
  #download-button button:active {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    transform: translateY(2px);
  }